body {
    // background: rgb(230, 230, 230) !important;
    scroll-behavior: smooth;
}
// No link underline
a {
    text-decoration: none !important;
}
// Navbar
.navbar {
    font-family: 'Cabin' !important;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
// Icon for search in navbar
.fa-search {
    color: white;
}
// Footer
.footer {
    height: 100px !important;
}

.row {
    height: 80px !important;
}

.col-12 {
    position: bottom;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
}
// End footer
.container {
    background: rgb(247, 247, 247);
}

main.container {
    background: rgb(255, 255, 255);
    margin-top: 100px !important;
}

// Card
.card {
    min-height: 250px;
}

// Text post
.text-body {
    text-align: left !important;
    //copied from stackO
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    display: -webkit-box !important;
    -webkit-line-clamp: 5 !important;
    //number of lines to show 
    -webkit-box-orient: vertical !important;
    // Za ispis teksta kako je unet, da ne bude blok
    white-space: pre-line !important;
}
// p.text-body::first-letter { // sometimes work, other times won't, no reason but not working?! 
//     font-family: Brush Script MT, Brush Script Std, cursive !important; // Curvy letters
//     font-size: 50px !important;
//     float: left;
//     font-style: italic;
//     line-height: 30% !important;
//     margin-right: 10px;
// }
// .text-body {
//     white-space: pre-line;
//     word-break: break-all !important;
// }
.text-show {
    white-space: pre-line;
}
// End text post
// Search bar 
.nav-src {
    width: 90px !important;
    transition: width 1s linear  !important;
}
.nav-src:hover {
    width: 200px !important;
    // transition: width 2s;
}
// End Searchbar

// Pagination colors
.page-link {
    color: rgb(92, 92, 92) !important;
    border-radius: 25px;
    border:  none !important;
}
.page-item.active .page-link {
    background-color: rgb(74, 161, 243) !important;
    border-color: gray !important;
    border-radius: 25px;
    border:  none;
}

// On top button
#onTop {
    // float: right;
    // margin-bottom: 30px;
    // margin-right: 30px;

    // display: none;
    position: fixed;
    bottom: 20px;
    right: 0px;
    // border: solid black;
    // border-radius: 25px;
}
.fas {
    font-size: 35px !important;   
    color: black;
}
.fas:hover {
    color: rgb(44, 170, 243);
}
// back to index from show button
.back {
    font-size: 25px !important;
}
// alert messages
// .msgs{
//     position: absolute;
//     top: 15%;
//     width: 300px !important;
//     margin: auto !important;
// }

// #alert {
//     position: absolute;
//     top: 15%; 
//     width: 300px !important;
//     margin: auto !important;
//     // color: white;
// }
