body{
    background: rgb(230, 230, 230) !important ;
    scroll-behavior: smooth;
}

// futter
.footer{
    height: 150px !important;
}
.row{
    // height: 130px !important;
}
.col-12{
  position: bottom;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
}
// end footer
.container{
    background: rgb(247, 247, 247);
}

.container-fluid{
    background: rgb(255, 255, 255);
    margin-top: 100px !important;
}
// text post
.text {
    text-align: left;
    //copied from sackO
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4; /* number of lines to show */
    -webkit-box-orient: vertical;

}
.text::first-letter{
    font-size: 50px;
}
// End text post
// Search bar 
.nav-src{
    width: 90px !important;
}
.nav-src:hover{
    width: 300px !important;
    transition: width 1s;
}
// end Searchbar
